body {
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100%;
    background-color: #e8f1fa;
}

.img {
    width: 200px;
    border-radius: 100%;
    margin-left: 30px;
    box-sizing: border-box;
    border: 3px solid #abd0f5;
    margin-top: 30px;
}

.link {
    width: 10vw;
    height: 5vh;
    background-color: #abd0f5;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
}

.link:hover {
    background-color: #FFFFFF;
    color: #3592ef;
    box-sizing: border-box;
    border: 2px solid #abd0f5;
}

.p {
    color: #FFFFFF;
    color: #000000;
    font-size: 1.3em;
}

.ul {
    color: #FFFFFF;
    color: #000000;
    font-size: 1.3em;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fotos-2 {
    margin-top: 40px;
}

.foto {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #abd0f5;
    border-radius: 5px;
}

.input {
    width: 50vw;
    height: 5vh;
    box-sizing: border-box;
    border: 3px solid #FFC017;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#textarea {
    width: 50vw;
    box-sizing: border-box;
    border: 3px solid #FFC017;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button1 {
    width: 5vw;
    height: 5vh;
    box-sizing: border-box;
    border: 3px solid #FFC017;
    margin: 20px;
    background-color: #000000;
    color: #FFC017;
    font-weight: bold;
}

.button1:hover {
    background-color: #FFC017;
    color: #000000;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#direction {
    width: 3vw;
    height: 7vh;
    background-color: #FFC017;
    color: #000000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 10fr; /* İlk sütun 1 genişlik, ikinci sütun 2 genişlik */
    gap: 10px; /* Sütunlar arası boşluk */
  }
  
  .grid-item {
    background-color: #e8f1fa;
    padding: 20px;
    /* text-align: center; */
  }
  
  .grid-item-1 {
    grid-column: 1 / span 1; /* İlk sütun için belirlenen genişlik */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .grid-item-2 {
    grid-column: 2 / span 2; /* İkinci sütun için belirlenen genişlik */
  }

  .grid-item-3 {
    margin-left: 30px;
  }

  .flashing-letter {
    position: absolute;
    color: #abd0f5; /* Altın rengi kullanalım */
    font-size: 24px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

